* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.body {
  overflow-x: hidden;
  font-family: Poppins;
}
.fixeded {
  position: fixed;
  right: 25px;
  bottom: 20px;
  display: inline-block;
  border-radius: 50%;
  z-index: 100;
  color: rgb(10, 10, 10);
  width: 100px;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(23, 140, 235);
  transition: transform 0.3s ease;
  animation: pulseone 2s infinite;
}
.foto-logo {
  width: 50px;
  height: 70px;
}
.fixeded:hover {
  transform: scale(1.1);
}
@keyframes pulseone {
  0% {
    box-shadow: 0 0 0 0 rgba(23, 140, 235, 0.4);
  }

  70% {
    box-shadow: 0 0 0 18px transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}
.section__main {
  /* min-height: 100vh; */
  background-image: url(images/5138023.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */

.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
}
.fixed_header {
  width: 100%;
  background-color: rgb(49, 44, 44);
  -webkit-box-shadow: 1px 10px 16px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 10px 16px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 10px 16px -3px rgba(0, 0, 0, 0.75);
}
.svg-foto {
  position: relative;
}

.logo-span {
  position: absolute;
  bottom: 26px;
  left: 56px;
  font-size: 30px;
  font-weight: 600;
  color: white;
}

.header__content {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  cursor: pointer;
}
.logo-footer {
  margin-right: auto;
}
.menu-navigation {
  display: flex;
  gap: 0 30px;
  align-items: center;
  padding: 15px;
}

.link-navigation {
  position: relative;
  padding: 0 5px;
  font-size: 20px;
  font-weight: 600;
  color: #ced3d7;
}
.link-navigation::after {
  position: absolute;
  top: 27px;
  left: 0;
  content: "";
  height: 3px;
  border-radius: 4px;
  background: #ced3d7;
  width: 0;
  transition: width 0.3s ease;
}
.link-navigation:hover::after {
  width: 100%;
}

.button__header {
  padding: 20px 16px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: black;
  background-color: #ced3d7;
  border-radius: 15px;
  letter-spacing: 1.5px;
  transition: transform 0.3s ease;
}
input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.bar {
  position: relative;
  z-index: 6;
  cursor: pointer;
  width: 50px;
  height: 40px;
}

.bar span {
  position: absolute;
  display: none;
  width: 45px;
  height: 7px;
  z-index: 6;
  background: #f1faee;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
  left: 0;
}

.bar span.top {
  top: 0;
}

.bar span.middle {
  top: 17px;
}

.bar span.bottom {
  bottom: 0;
}

input[type]:checked ~ span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 48px;
  left: 5px;
}

input[type]:checked ~ span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 48px;
  bottom: -1px;
  box-shadow: 0 0 10px #495057;
}

input[type]:checked ~ span.middle {
  transform: translateX(-20px);
  opacity: 0;
}

.button__header:hover {
  transform: scale(1.1);
}
.bar {
  display: none;
}

/* main */

.foto-text-main-content {
  padding-top: 150px;
  display: flex;
  justify-content: space-between;
}

.main__title {
  max-width: 580px;
  font-size: 56px;
  line-height: 64px;
  font-weight: 700;
  color: #ced3d7;
}
.paragraph-title {
  font-style: italic;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin-top: 8px;
  font-family: Caveat;
  color: #ffffff;
}
.button__animation {
  margin-top: 32px;
  display: inline-block;
  max-width: 200px;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(206, 211, 215, 0.4);
  }

  70% {
    box-shadow: 0 0 0 18px transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}
.ul__main-list {
  margin-top: -120px;
  padding-bottom: 15px;
}
.main-list {
  font-size: 18px;
  color: #f9f7f3;
  line-height: 26px;
  display: flex;
  font-weight: 600;
  align-items: center;
  margin-top: 10px;
}
.image__title {
  margin-right: 8px;
}
.main-foto-container {
  width: 50%;
  height: 100%;
  position: relative;
}
.foto-main {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease;
  filter: drop-shadow(10px 10px 14px #f9f7f3);
}
.foto-main:hover {
  transform: scale(1.1);
}

.description {
  background-image: none;
  border-radius: none;
}
.reverse {
  padding-top: 100px;
  flex-direction: row-reverse;
  align-items: center;
}

.where-abonent-block {
  margin-top: 100px;
}
.abonent-block {
  text-align: center;
}
.abonet-block-wrapper {
  display: flex;
  align-items: flex-start;
}
.abonent-block-container {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}
.abonent-block-title {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 15px;
}
.adonent-block-text {
  font-size: 18px;
  font-weight: 500;
}

.image-fone-content {
  position: absolute;
  top: 90px;
  right: 0px;
  z-index: 1;
  /* height: 200px; */
  color: rgba(23, 140, 235);
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 350px;
  padding: 12px 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.phone-foto-title {
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: 700;
  letter-spacing: 1.5px;
  border-bottom: 1px solid rgba(23, 140, 235);
}
.phone-foto-data {
  color: white;
  padding: 8px 0;
  font-weight: 400;
  margin-left: auto;
  font-size: 16px;
}
.phone-foto {
  padding: 15px 0;
  font-weight: 700;
  color: rgba(23, 140, 235);
}

.phone-foto-location {
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

.main__content-description {
  max-width: 420px;
}
.main__title-description {
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  color: #ced3d7;
}
.paragraph-description {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #000000;
}
.last {
  width: 70%;
  height: 70%;
}
.white {
  color: #ced3d7;
}

.function {
  border-end-end-radius: 0;
  border-start-start-radius: 40%;
  background-position: center;
}
.titel-function {
  padding-top: 50px;
  max-width: 780px;
  text-align: center;
  margin: 0 auto;
}
.span-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #f6f8fc;
  border-radius: 50%;
}
.description-punct {
  margin-top: -100px;
}
.punct {
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  margin-right: 20px;
}
.navigation-icon-content {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.punct-list-title {
  padding: 15px 0;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.01em;
  color: #f9f7f3;
}
.find-section {
  margin: 90px 0 30px 0;
}
.dark {
  color: #000000;
}
.titel-puntc-find-phone {
  margin: 0 auto;
  max-width: 800px;
  color: #2a313d;
  text-align: center;
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
}
.background {
  background-color: #000000;
  padding: 50px 0;
}

/* slider */

.rewies-slider {
  margin: 50px 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 150px;
}
.slick-track {
  display: flex;
  gap: 0 20px;
}
.slider-items {
  max-width: 350px;
  background-image: url(images/5138023.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #f9f7f3;
  align-items: flex-start;
  padding: 15px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 40px;
  height: 300px;
}
.rewies-description {
  height: 350px;
  overflow: auto;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  padding: 5px 3px;
}

.rewies-description::-webkit-scrollbar {
  width: 12px;
}

.rewies-description::-webkit-scrollbar-track {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}

.rewies-description::-webkit-scrollbar-thumb {
  background-color: #ffd700;
  border-radius: 5px;
  width: 12px;
}

.name {
  font-size: 20px;
  font-weight: 800;
  padding-left: 5px;
  color: rgba(23, 140, 235);
}
.slick-arrow {
  position: absolute;
  bottom: 0px;
  font-size: 0;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  transition: all 0.3s ease;
  outline: transparent;
  cursor: pointer;
}
.slick-arrow.slick-prev {
  left: 15%;
  background-image: url(images/slider-prev.png);
  filter: drop-shadow(-6px 3px 1px black);
}

.slick-arrow.slick-next {
  background-image: url(images/sloder-next.png);
  right: 15%;
  filter: drop-shadow(6px 3px 1px black);
}
.rewies-slider .slick-dots {
  position: absolute;
  text-align: center;
  bottom: 55px;
  right: 0;
  left: 0;
}
.rewies-slider .slick-dots li {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-left: 30px;
}
.rewies-slider .slick-dots button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  font-size: 0;
  background-color: rgba(72, 67, 67, 0.2);
}
.slick-dots li.slick-active {
  background-color: rgba(72, 67, 67, 1);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.slick-arrow:hover {
  filter: drop-shadow(0px 0px 0px transparent);
}
.color-text {
  color: rgba(23, 140, 235);
}
.sup-description-list {
  margin-top: 80px;
}
.sup-list {
  background-color: #fff;
  padding: 30px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 18px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 18px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 18px -5px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.menu-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  color: #2a313d;
}
.sup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  transition: all 0.3s ease;
}
.arrow-rotation {
  transition: all 0.3s ease;
  transform: rotate(180deg);
}
.sup-text {
  font-size: 16px;
  line-height: 24px;
  padding-top: 15px;
  display: none;
}
.shewron {
  transition: all 0.3s ease;
}

.show {
  transition: all 0.3s ease;
  display: block;
}
.bottom-list {
  margin-top: 0px;
}

/* footer */

.footer {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000000;
  padding: 0px 15px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 40px;
}
.information-footer-title {
  font-size: 18px;
  color: #f3e3c2;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 25px;
}

.text {
  transition: all 0.5s ease;
}
.text:hover {
  text-decoration: underline;
}

.text:hover::after {
  width: 100%;
}
.information-rarafraph {
  display: block;
  color: #f9f7f3;
  padding: 10px 0;
  line-height: 14px;
  font-weight: 400;
}
.cards-imges-block {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 260px;
}
.last-footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #f9f7f3;
}
#rewies {
  font-size: 42px;
  padding-bottom: 20px;
}
.foteer-text {
  font-size: 12px;
  padding-bottom: 20px;
}
.change-color {
  background-color: rgba(23, 140, 235, 0.6);
}
@media (max-width: 980px) {
  .foto-text-main-content {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
  }

  .reverse {
    flex-direction: column;
  }
  .frame {
    padding: 150px 0;
  }
  .foto-main {
    margin-top: 0px;
  }
  .second {
    margin-top: 60px;
  }
  .main__content {
    order: 1;
  }
  .ul__main-list {
    margin: 10px auto;
    text-align: center;
    width: fit-content;
  }
  .button__header {
    margin: 20px auto;
  }
  .main-list {
    width: 100%;
  }
  br {
    display: none;
  }
}
@media (max-width: 840px) {
  .bar {
    display: block;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .footer {
    border-radius: 0;
  }
  .menu-navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    background-color: #495057;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px 0;
    font-size: 56px;
    font-weight: 900;
    letter-spacing: 4px;
    transition: transform 0.5s ease;
    transform: translate(-100%);
  }
  .transform-menu {
    transform: translate(0%);
  }
  .abonent-block-container {
    flex-direction: column;
    gap: 40px 0;
  }
}

@media (max-width: 778px) {
  .last-footer-block {
    justify-content: center;
  }
  .main-foto-container {
    width: 80%;
    height: 80%;
  }
}
@media (max-width: 700px) {
  .rewies-slider .slick-dots li {
    margin-left: 5px;
  }
  .rewies-slider .slick-dots button {
    width: 10px;
    height: 10px;
  }
  /* .logo-header {
    margin-right: auto;
  } */
}
@media (max-width: 640px) {
  .foto-text-main-content {
    padding-top: 40px;
  }
  .navigation-icon-content {
    padding-top: 120px;
  }
  .main__title {
    padding-top: 50px;
  }
  .rewies-slider .slick-dots {
    bottom: 100px;
  }
}
@media (max-width: 488px) {
  .slider-items {
    max-width: 100%;
  }
}
@media (max-width: 460px) {
  .in-header {
    opacity: 0;
  }
  .main-foto-container {
    width: 100%;
    height: 80%;
  }

  /* .function {
    margin-top: -200px;
  } */
  .span-container {
    margin-top: 20px;
  }
  .main__title {
    font-size: 46px;
    line-height: 54px;
    font-weight: 600;
  }
  .main__title-description {
    line-height: 40px;
    font-size: 34px;
  }
  .foto-main {
    margin-top: 30px;
  }
  .paragraph-title {
    font-size: 38px;
    line-height: 40px;
  }
  .navigation-icon-content:last-child {
    padding-top: 0px;
  }
  .ul__main-list {
    margin-top: 60px;
  }
  .main__title {
    margin: 30px 0;
  }
  .button__animation {
    margin-top: 50px;
  }
}
@media (max-width: 400px) {
  .logo-span {
    font-size: 24px;
  }
  .bar {
    width: 40px;
  }
  .main__title {
    font-size: 38px;
  }
}
